<div class="container content-center">
  <div class="row">
    <div *ngFor="let product of products" class="col-sm">
      <div class="card m-2" style="width: 18rem">
        <img
          src="../assets/img/placeholder.png"
          class="card-img-top"
          alt="なんで表示されないの〜〜"
          style="width: 300px; height: 250px"
        />
        <div class="card-body">
          <a class="card-title">{{ products }}</a>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a
            routerLink="detail"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Go somewhere</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet />